body {
  background-color: rgba(64, 255, 128, 0.2);
  font-family: 'Titillium Web';
  font-weight: bolder;
}

.header, .footer {
  text-align: center;
  background-color: rgba(2, 71, 25, 0.2);
  margin-bottom: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.form {
  text-align: center;
  justify-content: center;
}

.price, .ticker {
  font-size: 1.5rem;
}

/* .input {
  width: 25rem;
  height: 4rem;
  padding-left: 5px;
  font-size: 10vh;
}

.button {
  width: 5rem;
  height: 4.4rem;
  margin-left: 15px;
} */

.intro, .loading, .price-info, .error {
  text-align: center;
  margin-top: 25px;
}